/**
 * Define or overwrite your theme selectors within this file.
**/
body {
  background: url('/themes/hexasbook/img/background.png') repeat-y center @default;
  -webkit-background-size: 1200px auto;
  background-size: 1200px auto;
}